* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:Segoe UI,Arial,sans-serif; */
    font-family:
        Inter,
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}

body {

    background: #f7f7f7;
    color: #111;
    padding: 50px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 35px;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .05);

}

@media (max-width: 425px) {
    .container {
        width: 95vw;
    }

    body {
        padding: 0;
        padding-top: 12px;
    }
}

h2 {

    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;

}

hr {

    margin-bottom: 30px;
    border: none;
    height: 1px;
    background: #ddd;

}

details {

    margin-bottom: 18px;

}

summary {

    list-style: none;
    cursor: pointer;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    background: #fff;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: .3s;

}

summary:hover {

    background: #fafafa;

}

summary::-webkit-details-marker {

    display: none;

}

summary::after {

    content: "+";
    font-size: 26px;
    font-weight: 300;
    transition: .3s;

}

details[open] summary::after {

    content: "×";

}

.content {

    margin-top: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    background: white;

    padding: 18px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 14px;

    animation: fade .35s ease;

}

.content a {

    text-decoration: none;
    color: #111;

    border: 1px solid #ddd;
    border-radius: 6px;

    padding: 10px 14px;

    transition: .25s;

    text-align: center;

    background: white;

}

.content a:hover {

    background: #111;
    color: white;

}

@keyframes fade {

    from {

        opacity: 0;
        transform: translateY(-8px);

    }

    to {

        opacity: 1;
        transform: translateY(0);

    }

}